@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@model IEnumerable<WebBanSua.Models.SanPham>


<!-- Thay đổi kiểu model sang danh sách các danh mục -->
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
    var spBest = Model.Where(p => p.BestSeller == true);
    var spActive = Model.Where(p => p.TrangThai == true);
    // var uniqueCategories = Model.GroupBy(p => p.MaDmNavigation.TenDm)
    //                           .Select(group => group.First());
}


<head>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/page-list.css" rel="stylesheet">
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <style>
        .panel-body{
        display:flex; }
       

            /* Thiết kế dropdown */
        .custom-dropdown {
            width: 200px; /* Thiết lập độ rộng của dropdown */
            position: relative;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            overflow: hidden;
            margin-right: 20px;
        }

            /* Style cho select */
            .custom-dropdown select {
                width: 100%;
                padding: 10px;
                background-color: transparent;
                border: none;
                cursor: pointer;
                appearance: none; /* Ẩn các giao diện người dùng tùy chỉnh của browser */
            }

                /* Style cho option */
                .custom-dropdown select option {
                    padding: 10px;
                }

                    /* Hover effect cho option */
                    .custom-dropdown select option:hover {
                        background-color: #f1f1f1;
                    }
    </style>
</head>
<body>
    <div id="header" class="location-page" style="margin-bottom:20px;">
        <section class="c-breadcrumbs">
            <div class="container">
                <span class="item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></span>
                <span class="item"> > Sản phẩm</span>
            </div>
        </section>
    </div>
    <div class="container bootdey" style="margin-top:20px;">
        <div class="col-md-3">
            <section class="panel">
                @using (Html.BeginForm("TimKiem", "SanPham", FormMethod.Get))
                {
                    <div class="panel-body">
                        <input type="text" placeholder="Tìm Sản Phẩm" class="form-control" name="searchString" />
                        <button type="submit" class="btn btn-primary">Tìm kiếm</button>

                    </div>

                }
              

            </section>
            <section class="panel">
                <header class="panel-heading">
                    Danh Mục Sản Phẩm
                </header>
                <div class="panel-body">
                    
                    @{
                        WebBanSua.Models.CuaHangBanSuaContext _context = new WebBanSua.Models.CuaHangBanSuaContext();
                        var danhmuc = _context.DanhMucSps.ToList();
                    }
                   
                        <ul class="nav prod-cat">
                        @foreach (var item in danhmuc)
                        {
                            <li>
                                <a asp-action="SanPhamTheoDanhMuc" asp-controller="SanPham" asp-route-id="@item.MaDm" asp-route-tenDm="@item.TenDm"><i class="fa fa-angle-right"></i> <img src="@item.AnhDm" alt="" style="width:20px;"> @item.TenDm</a>
                            </li>
                     

                        }

                        </ul>
                    

                           
                        
                    
                </div>
            </section>
            

            <section class="panel">
                <header class="panel-heading">
                    Best Seller
                </header>
                <div class="panel-body">
                    <div class="best-seller">
                        @foreach (var item in spBest)
                        {
                            <article class="media">
                                <a class="pull-left thumb p-thumb">
                                    <img src="@item.AnhSp" style="width:100px;" />
                                </a>
                                <div class="media-body">
                                   @*  @if (Context.Session.GetString("MaKh") != null)
                                    {
                                        <a asp-action="Details" asp-route-id="@item.MaSp" asp-route-ten ="@item.TenSp" class="p-head" style="text-decoration:none;">@item.TenSp</a>
                                    }
                                    else
                                    {
                                        <a asp-action="Login" asp-controller="Home" class="p-head" style="text-decoration:none;">@item.TenSp</a>
                                    } *@
                                    <a asp-action="Details" asp-route-id="@item.MaSp" asp-route-ten="@item.TenSp" class="p-head" style="text-decoration:none;">@item.TenSp</a>

                                    <p>@item.GiaSp.ToString("#,##0") VNĐ</p>
                                </div>
                            </article>
                        }

                    </div>
                </div>
            </section>
        </div>
        <div class="col-md-9">
            <section class="panel">
                <div class="panel-body">
                    <div class="custom-dropdown">
                        <select title="Sắp Xếp Theo" onchange="updateTitle(this); location = this.value;">
                            <option value="@Url.Action("SapXepTheoGia", new { sortOrder = "" })">Mặc định</option>
                            <option value="@Url.Action("SapXepTheoGia", new { sortOrder = "price_desc" })">Giá từ cao đến thấp</option>
                            <option value="@Url.Action("SapXepTheoGia", new { sortOrder = "price_asc" })">Giá từ thấp đến cao</option>
                        </select>
                    </div>
                 
                  
                   

                </div>
            </section>
            @if (ViewBag.TT != null)
            {
                <div class="alert alert-success">
                    <strong>Kết quả tìm kiếm: </strong> Có @ViewBag.TT sản phẩm phù hợp với yêu cầu của bạn
                </div>
            
            }
            
            <div class="row product-list">
                <div id="searchResult">
                    <!-- Nơi hiển thị kết quả tìm kiếm -->
                </div>

                @foreach (var item in spActive)
                {
                    <div class="col-md-4" style="margin-top:30px;">
                        <div class="card">
                            <div class="card-img-product">
                                <img src="@Url.Content(item.AnhSp)" alt="">

                            </div>
                            <br />
                            <div class="card-title">
                                @item.TenSp
                            </div>
                            <div class="card-price">
                                @item.GiaSp.ToString("#,##0") VNĐ
                            </div>
                            <div class="card-diseption">
                                <div class="card-action">

                                    @if (Context.Session.GetString("MaKh") != null)
                                    {
                                        <button> <a asp-action="Details" asp-route-id="@item.MaSp" asp-route-ten="@item.TenSp" asp-route-idDm="@item.MaDm" style="text-decoration:none; color:white">Mua Ngay</a></button>
 
                                        <button onclick="AddToCartList(@item.MaSp)" id="themvaogio">Thêm<i class='bx bxs-cart-add'></i></button>
                                    }
                                    else
                                    {
                                        <button> <a asp-action="Details" asp-route-id="@item.MaSp" asp-route-ten="@item.TenSp" asp-route-idDm="@item.MaDm" style="text-decoration:none; color:white">Chi tiết</a></button>

                                        <button> <a asp-action="Login" asp-controller="Home" style="text-decoration:none; color:white">Mua Ngay</a></button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function updateTitle(select) {
            var title = select.options[select.selectedIndex].text;
            select.setAttribute('title', title);
        }

    </script>
   
  
</body>
