
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    WebBanSua.Models.CuaHangBanSuaContext db = new WebBanSua.Models.CuaHangBanSuaContext();
    var khachHang = db.KhachHangs;
    var danhMuc = db.DanhMucSps;
    var totalAmount = db.DonHangs
           .Where(dh => dh.ThanhToan) // Lọc các đơn hàng có ThanhToan == true
           .Sum(dh => dh.TongTien); // Tính tổng số tiền
    ViewBag.sumMoney = totalAmount;

    DateTime ngayHomNay = DateTime.Today; // Lấy ngày hôm nay

    var tongTienDaNhan = db.DonHangs
        .Where(dh => dh.ThanhToan && dh.NgayThanhToan.Date == ngayHomNay) // Lọc các đơn hàng đã thanh toán và có ngày thanh toán là ngày hôm nay
        .Sum(dh => dh.TongTien); // Tính tổng số tiền đã




    var danhMucVaSoLuong = db.SanPhams
       .Join(db.DanhMucSps,
             sp => sp.MaDm,
             dm => dm.MaDm,
             (sp, dm) => new { sp, dm })
       .GroupBy(spdm => new { spdm.dm.TenDm, spdm.dm.AnhDm })
       .Select(group => new
       {
           TenDanhMuc = group.Key.TenDm,
           AnhDanhMuc = group.Key.AnhDm,
           SoLuongSanPham = group.Count()
       })
       .ToList();




    ViewBag.sumDay = tongTienDaNhan;

    DateTime thangHienTai = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1); // Lấy ngày đầu tiên của tháng hiện tại

    DateTime ngayCuoiThang = thangHienTai.AddMonths(1).AddDays(-1); // Lấy ngày cuối cùng của tháng hiện tại

    var tongDoanhThuThangNay = db.DonHangs
        .Where(dh => dh.ThanhToan && dh.NgayThanhToan >= thangHienTai && dh.NgayThanhToan <= ngayCuoiThang) // Lọc các đơn hàng đã thanh toán và có ngày thanh toán trong tháng hiện tại
        .Sum(dh => dh.TongTien);
    ViewBag.sumMonth = tongDoanhThuThangNay;


    DateTime startOfMonth = new DateTime(DateTime.Today.Year, DateTime.Today.Month, 1); // Ngày đầu tiên của tháng
    DateTime endOfMonth = startOfMonth.AddMonths(1).AddDays(-1); // Ngày cuối cùng của tháng

    var tongKhachHangMoi = db.KhachHangs
        .Where(kh => kh.CreateDate >= startOfMonth && kh.CreateDate <= endOfMonth) // Lọc khách hàng được tạo trong tháng này
        .Count();
    ViewBag.Kh = tongKhachHangMoi;
}

 <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Doanh Thu Hôm Nay</p>
                    <h5 class="font-weight-bolder">
                                    @ViewBag.sumDay.ToString("#,##0") VNĐ
                    </h5>
                   
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-primary shadow-primary text-center rounded-circle">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Doanh Thu Tháng Này</p>
                    <h5 class="font-weight-bolder">
                                    @ViewBag.sumMonth.ToString("#,##0") VND
                    </h5>
                    
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-danger shadow-danger text-center rounded-circle">
                    <i class="ni ni-world text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Khách Hàng Mới Trong Tháng</p>
                    <h5 class="font-weight-bolder">
                                    @ViewBag.Kh
                                </h5>
                    
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-success shadow-success text-center rounded-circle">
                    <i class="ni ni-paper-diploma text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-sm-6">
          <div class="card">
            <div class="card-body p-3">
              <div class="row">
                <div class="col-8">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-uppercase font-weight-bold">Tổng Doanh Thu</p>
                    <h5 class="font-weight-bolder">
                                    @ViewBag.sumMoney.ToString("#,##0") VNĐ

                                </h5>
                    
                  </div>
                </div>
                <div class="col-4 text-end">
                  <div class="icon icon-shape bg-gradient-warning shadow-warning text-center rounded-circle">
                    <i class="ni ni-cart text-lg opacity-10" aria-hidden="true"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-7 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h6 class="text-capitalize">Tổng Quan Về Bán Hàng</h6>
              <p class="text-sm mb-0">
                <i class="fa fa-arrow-up text-success"></i>
                <span class="font-weight-bold">4% </span> so với 2021
              </p>
            </div>
            <div class="card-body p-3">
              <div class="chart">
                <canvas id="chart-line" class="chart-canvas" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5">
          <div class="card card-carousel overflow-hidden h-100 p-0">
            <div id="carouselExampleCaptions" class="carousel slide h-100" data-bs-ride="carousel">
            
          <div class="card">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">Danh Mục</h6>
            </div>
            <div class="card-body p-3">
              <ul class="list-group">
                                @foreach (var item in danhMucVaSoLuong)
                 {
                      <li class="list-group-item border-0 d-flex justify-content-between ps-0 mb-2 border-radius-lg">
                  <div class="d-flex align-items-center">
                   
                      <img class="text-white opacity-10" src="@item.AnhDanhMuc" style="width:40px;"/>
                   
                    <div class="d-flex flex-column">
                      <h6 class="mb-1 text-dark text-sm">@item.TenDanhMuc</h6>
                      <span class="text-xs">có @item.SoLuongSanPham sản phẩm ;</span>
                    </div>
                  </div>
                  <div class="d-flex">
                    <button class="btn btn-link btn-icon-only btn-rounded btn-sm text-dark icon-move-right my-auto"><i class="ni ni-bold-right" aria-hidden="true"></i></button>
                  </div>
                </li>
                 }
               

              </ul>
            </div>
          </div>

              <button class="carousel-control-prev w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next w-5 me-3" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-lg-13 mb-lg-0 mb-4">
          <div class="card ">
            <div class="card-header pb-0 p-3">
              <div class="d-flex justify-content-between">
                <h6 class="mb-2">Khách Hàng Mới</h6>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table align-items-center ">
                <tbody>
                    @foreach (var item in khachHang)
                   {
                       <tr>
                    <td class="w-30">
                      <div class="d-flex px-2 py-1 align-items-center">
                        <div>
                          <img src="@item.AvatarKh" alt="">
                        </div>
                        <div class="ms-4">
                          <p class="text-xs font-weight-bold mb-0"></p>
                          <h6 class="text-sm mb-0">@item.TenKh</h6>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Giới Tính:</p>
                        <h6 class="text-sm mb-0">@item.GioiTinh</h6>
                      </div>
                    </td>
                    <td>
                      <div class="text-center">
                        <p class="text-xs font-weight-bold mb-0">Email</p>
                        <h6 class="text-sm mb-0">@item.Email</h6>
                      </div>
                    </td>
                    <td class="align-middle text-sm">
                      <div class="col text-center">
                        <p class="text-xs font-weight-bold mb-0">Điện Thoại</p>
                        <h6 class="text-sm mb-0">@item.Phone</h6>
                      </div>
                    </td>
                  </tr>
                   }
                  
                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
       
      </div>
    </div>


